*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #222;
}
.spark{
    position: absolute;
    width: 40px;
    height: 40px;

    transform: translate(0px, -20px);
}
.spark span{
    position: absolute;
    width: 2px;
    height: 20px;
    overflow: hidden;
    transform-origin: bottom;
    background: aqua;
    pointer-events: none;
    filter: drop-shadow(0 0 5px aqua) drop-shadow(0 0 5px aqua);
}
